* {
  background: #f2fffa;
}

header img {
  height:250px;
  width:250px;
  position: relative;
  img-align: left;
}
ul img {
  height: 220px;
  width: 170px;
 display: block;
  padding: 10px;
}
ul {
  font-size: 20px;
  height: 300px;
  width: 170px;
  color: gray;
}
strong {
  color: black;
}
h1 {
  text-align: center;
  font-family: cursive;
}
h3 {
	text-align: center;
	font-family: cursive;
	}
div img {
  position: relative;
  float: right;
  width: 800px;
}
a {
  text-decoration: none;
  color: green;
  
}
#serious {
  width:1300px;
}

#fun {
  width: 300px;
  height: 300px;
  float: right;
  padding: 10px;
}
#ugh {
  float: right;

}
#moderate {
	float: center;
	padding: 10px;
}
#wonky {
	float: center;
	width: 400px;
	height: 600px;