* {
  text-decoration: none;
}

#outer {
	height: 1000px;
	width: 300px;
	background-color: #d0efd3;
	position: absolute;
	margin-left: -10px;
  margin-top: -30px;
  border-radius: 10px;
}

#face {
  height: 200px;
  width: 200px;
  position: left;
  margin-top: -780px;
  margin-left: -90px;
  margin-right: 30px;
  float: right;
  padding: 20px;
}

#navigation {
  padding: 40px;
  margin-bottom: 100px;
  font-family: cursive;
  font-size: 20px;
  margin-top: -530px;
  margin-left: 60px;
  color: #424059;
}

#navigation strong {
  font-weight: bold;
  font-size: 22px;
  margin-left: -12px;
  color: #21202c;
}

a:hover {
   color: #9690c9;
}

.body {
  positon: relative;
  margin-left: 650px;
  margin-top: 40px;
  font-size: 30px;
  font-family: Georgia, cursive;
  color: #21202c;
  padding: 20px;
  width: 300px;
}

.body p {
  padding: 20px;
  font-size: 18px;
  font-family: Georgia;
  float: left;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  color: #424059;
}

.body p p{
  padding: 20px;
  font-size: 18px;
  font-family: Georgia;
  float: left;
  margin-left: -300px;
  margin-top: -200px;
  width: 600px;
  color: #424059;
}

#cat {
  position: relative;
  float: right;
  margin-top: 80px;
  margin-right: -480px;
  width: 50px;
  height: 100px;
}

#photo {
  height: 300px;
  border-radius: 10px;
   margin-top: 50px;
  position: relative;
  margin-left: 300px;
}
#photo2 {
  height: 300px;
  border-radius: 10px;
   margin-top: 50px;
  position: relative;
  margin-left: 300px;
}